.text1 {
    position: absolute;
    top: 0%;
    left: 0%;
    line-height: 194.12%;
    display: -webkit-inline-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    width: 619px;
}
.text {
    position: absolute;
    top: 260px;
    left: 83px;
    width: 619px;
    height: 117px;
}
.revolutionize-your-loan {
    margin: 0;
}
.driven {
    font-size: 64px;
}
.automation {
    font-size: 70px;
}
.heading-1 {
    position: absolute;
    top: -58px;
    left: 4px;
    line-height: 128.57%;
    display: inline-block;
    font-family: 'Playfair Display';
    color: #fefdfe;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 786px;
    height: 363px;
    font-size: 70px;
}
.text2 {
    position: absolute;
    top: 19px;
    left: 34px;
    line-height: 120%;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 200px;
    height: 26px;
}
.button-1 {
    position: absolute;
    top: 377px;
    left: 263px;
    background-color: #ee5eb4;
    width: 268px;
    height: 63px;
    font-size: 21px;
    color: #fee4f6;
}
.container-2 {
    position: absolute;
    top: 307px;
    left: 316px;
    width: 786px;
    height: 440px;
}
.section-1 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1440px;
    height: 1108px;
    background-image: url('Section 1.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}
.bolt-solid-2-1 {
    width: 48px;
    position: relative;
    height: 48px;
    overflow: hidden;
    flex-shrink: 0;
}
.logotext {
    position: relative;
    line-height: 100%;
}
.logoitem {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 4px;
}
.navbutton {
    border-radius: 10px;
    background-color: #fefefe;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0px 20px;
    box-sizing: border-box;
    text-align: center;
    color: #c49ebd;
    font-family: Inter;
}
.itemgroup {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 30px;
    font-size: 16px;
    color: #a4acba;
    font-family: 'Courier Prime';
}
.nav {
    position: absolute;
    width: 100%;
    top: 0px;
    right: 0px;
    left: 0px;
    height: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0px 100px;
    box-sizing: border-box;
    text-align: left;
    font-size: 24px;
    color: #fff;
    font-family: Outfit;
}
.landing-page-for-user {
    width: 100%;
    position: relative;
    background-color: #fff;
    height: 1108px;
    text-align: center;
    font-size: 20px;
    color: #fbe1e3;
    font-family: 'Courier Prime';
}

